@import url("https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
    --colorPrimario: #2f695c;
    --colorPrimario2: #769e94;
    --colorPrimario3: #9cbbaf;
    --colorPrimario4: #ecf1ee;

    --colorSecundario: #e38b33;
    --colorAdicional: #d8b47c;

    /* COLOR DE TEXTOS */
    --colorBlanco: #fff;
    --colorTexto1: #000;
    --colorTexto2: #797c7a;

    --paddingIzquierdaDerecha: 16px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-optical-sizing: auto;
    font-weight: bold;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
}

.container {
    max-width: 1300px;
    margin: 0 auto;

    padding: 0 var(--paddingIzquierdaDerecha);
}

.anuncioSuperior {
    background-color: var(--colorAdicional);
    height: 40px;

    font-family: "Inter Tight", sans-serif;
    color: var(--colorBlanco);
    font-size: 12px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.header {
    background-color: var(--colorPrimario);
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

    position: relative;
    height: 70px;
}

/* order 2 */
.logo {
    height: 50px;
    order: 2;
}

/* order 3 */
.contenedorCarritoLogin {
    order: 3;
}

.iconoCarritoLogin {
    width: auto;
    height: 25px;
    fill: var(--colorBlanco);
}

.iconoLogin {
    display: none;
}

.iconoCarrito {
}

/* order 1 */
.iconoMenuHamburguesa {
    color: var(--colorBlanco);
    order: 1;
}

.iconoMenuHamburguesa svg {
    width: 35px;
    height: 35px;
}

.inputMenuHamburguesa {
    display: none;
}

.inputMenuHamburguesa:checked + .nav__ul {
    transform: translateX(0);
    overflow: hidden;
}

.nav__ul {
    position: absolute;
    top: 69px;
    height: calc(100dvh - 110px);
    left: 0;
    width: 100vw;

    transform: translateX(-100%);
    transition: transform 0.2s;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.nav__li {
}

.nav__li:nth-child(1) .nav__link {
    background-color: var(--colorPrimario);
}

.nav__li:nth-child(2) .nav__link {
    background-color: var(--colorPrimario2);
}

.nav__li:nth-child(3) .nav__link {
    background-color: var(--colorPrimario3);
}

.nav__li:nth-child(4) .nav__link {
    background-color: var(--colorPrimario4);
    color: var(--colorPrimario);
}

.nav__link {
    color: var(--colorBlanco);
    display: flex;
    justify-content: space-between;
    height: 100%;
    align-items: center;

    padding: 26px 16px;

    font-family: "Inter Tight", sans-serif;
    font-size: 20px;
}

.nav__link svg {
    width: 28px;
    height: auto;
}

.containerButtonsLogin {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 180px;

    margin-top: auto;
    margin-left: 20px;
    margin-bottom: 40px;
}
.containerButtonsLogin__btn {
    border: 1px solid white;
    font-size: 14px;
    font-weight: bolder;
    background-color: var(--colorPrimario);
    color: var(--colorBlanco);
    padding: 10px 20px;
    text-align: center;
    border-radius: 20px;
    font-family: "Inter Tight", sans-serif;
}

/* MAIN STYLES */


/* SECCION PRINCIPAL ESTILOS */

.seccionPrincipal {
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 20px;

    padding-top: 20px;
    padding-bottom: 20px;
}
.seccionPrincipal__texto {
    order: 2;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.seccionPrincipal__texto p {
    font-family: Fraunces;
    color: var(--colorTexto2);
    font-weight: 600;
    font-size: 17px;
    display: flex;
    gap: 15px;
}

.seccionPrincipal__titulo {
    text-align: center;
    text-wrap: balance;
    font-size: 44px;
    font-weight: bolder;
    font-family: "Inter Tight", sans-serif;
    color: var(--colorPrimario);
    line-height: 45px;
}
.seccionPrincipal__contenedorRecomendaciones {
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.seccionPrincipal__imagenContainer {
}
.img__seccionPrincipal {
    max-width: 100%;
    order: 1;
    border-radius: 20px;
}

.btn__hazTuPedido {
    margin: 20px 0;
    background-color: #ff9933;
    color: var(--colorBlanco);
    font-weight: bold;
    font-family: "Inter Tight", sans-serif;
    font-size: 24px;
    padding: 12px 30px;
    border-radius: 10px;
    align-self: center;
}

/* SECCION RECOMENDACIONES */

.seccionRecomendaciones {
    background-color: #ecf1ee;
    padding: 60px var(--paddingIzquierdaDerecha);
    width: 90%;
    border-radius: 20px;

    display: flex;
    flex-direction: column;
    gap: 25px;
}
.seccionRecomendaciones__title {
    font-size: 42px;
    line-height: 100%;
    font-weight: 700;
    color: #000000;
    font-family: "Inter Tight", sans-serif;
    text-align: center;

    margin-bottom: 25px;
}
.contenedorPasos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 40px;
}
.pasos {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-basis: 270px;
    flex-grow: 1;
    gap: 15px;
}
.pasos img {
    width: 200px;
    height: 200px;
}
.pasos h3 {
    font-family: Fraunces, sans-serif;
    font-size: 28px;
    font-weight: 700;
}
.pasos span {
    font-family: Montserrat, sans-serif;
    color: var(--colorTexto2);
    font-weight: 500;
    font-size: 19px;
    text-align: center;
}

.btn__comerSano {
    margin: 20px 0;
    background-color: #ff9933;
    color: var(--colorBlanco);
    font-weight: bold;
    font-family: "Inter Tight", sans-serif;
    font-size: 24px;
    padding: 12px 30px;
    border-radius: 10px;
    align-self: center;
}

/* TIENES QUE PROBAR SECCION */

.seccionTienesQueProbar {
    padding-top: 50px;
    padding-bottom: 50px;
}

.slider__lista {
    display: flex;
    gap: 25px;
    overflow-x: scroll;
    padding: 20px 0;
    margin-bottom: 50px;
}
.slider__item {
    min-width: min(100%, 360px);
    background-color: #ecf1ee;
    border-radius: 25px;
}
.comidaImgContainer {
    position: relative;
}
.comidaImgContainer span {
    position: absolute;
    bottom: 30px;
    left: 15px;

    color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0.705);
    font-size: 18px;
    font-weight: 600;
    font-family: "Inter Tight", sans-serif;
    padding: 7px 15px;
    border-radius: 20px;
}
.slider__item img {
    max-width: 100%;
    border-radius: 25px 25px 0 0;
    aspect-ratio: 1/1;
    object-fit: cover;
}

.informacionDeLaComida {
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.informacionDeLaComida h3 {
    font-family: "Inter Tight", sans-serif;
    font-size: 24px;
}

.precioPesoComida h4 {
    font-family: "Inter Tight", sans-serif;
    font-weight: 700;
    font-size: 22px;
}
.precioPesoComida span {
    font-family: "Inter Tight", sans-serif;
    color: var(--colorTexto2);
    font-weight: 500;
}
.informacionCalorica {
    display: flex;
    justify-content: center;
    gap: 20px;
    font-family: "Inter Tight", sans-serif;
    background-color: var(--colorBlanco);
    border-radius: 30px;
    padding: 10px 0;
}
.nutrientes {
    text-align: center;
}
.nutrientes span {
    font-size: 15px;
}
.nutrientes p {
    font-size: 12px;
}
.slider__link {
    margin: 20px 0;
    background-color: #ff9933;
    color: var(--colorBlanco);
    font-weight: bold;
    font-family: "Inter Tight", sans-serif;
    font-size: 18px;
    padding: 9px 30px;
    border-radius: 30px;
    align-self: center;
    width: 100%;
    text-align: center;
}
.btn__verTodos {
    background-color: #ff9933;
    color: var(--colorBlanco);
    font-weight: bold;
    font-family: "Inter Tight", sans-serif;
    font-size: 24px;
    padding: 9px 30px;
    border-radius: 6px;
    display: block;
    width: 250px;
    margin-inline: auto;
    text-align: center;
}

/* SECCION SLIDER INFINITO */
@keyframes slider {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}
.slider__infinito {
    background-color: var(--colorPrimario2);
    width: 100%;
    padding: 30px 0;
    margin-bottom: 80px;
    overflow: hidden;
}
.slider-texto {
    animation: slider 60s infinite linear;
}
.texto-span {
    white-space: pre;
    font-size: 28px;
    font-weight: bold;
    font-family: "Inter Tight", sans-serif;
    color: white;
}

/* SECCION HACEMOS TU VIDA MAS FACIL */

.hacemos_tu_vida_facil {
    margin-bottom: 50px;
}
.hacemos_tu_vida_facil article span {
    font-family: "Inter Tight", sans-serif;
    font-weight: 400;
}
.hacemos_tu_vida_facil article {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 100%;
    background-color: #ecf1ee;
    border-radius: 30px;
    padding: 20px;
}

/* SECCION PIDE MÁS PAGA MENOS */
.pideMasPagaMenos {
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.pideMasPagaMenos img {
    max-width: 100%;
    order: 1;
    border-radius: 30px
}
.pideMasPagaMenos article {
    order: 2;
}
.pideMasPagaMenos article span{
    font-family: "Inter Tight", sans-serif;
    font-weight: 400;
    display: block;
    text-align: center;
    margin-bottom: 15px;
    color: var(--colorTexto2);
}
.pideMasPagaMenos article .parrafoDescuentos{
    font-family: "Inter Tight", sans-serif;
    font-weight: 400;
    color: var(--colorTexto2);
    text-align: center;
    text-wrap: pretty;
    margin-bottom: 20px;
}
.pideMasPagaMenos article video{
    width: 100%;
    max-width: 300px;
}
.descuentosInformacion{
}
.descuentosInformacion p{
    text-align: center;
    font-family: "Inter Tight", sans-serif;
    font-size: 11px;
    font-weight: 400;
    display: flex;
    align-items: center;
    white-space: pre;
    color: var(--colorTexto2);
}
.descuentosInformacion p strong{
    color: black;
}
.descuentosInformacion p::before {
    content: "";
    background: url(assets/logoCheck.svg);
    display: block;
    width: 12px;
    height: 12px;
    left: 0;
    top: 5px;
    bottom: 0;
    background-size: contain;
    margin-right: 10px;
}

/* SECCION ALGUNA DUDA ACORDEON */
.algunaDudaSeccion {
    margin-top: 30px;
    margin-bottom: 30px;
    max-width: 900px;
}
.algunaDudaSeccion p {
    color: var(--colorTexto2);
    font-size: 16px;
    font-family: "Inter Tight", sans-serif;
    font-weight: 400;
    text-align: center;
}
.acordeon {
    margin-top: 30px;
}
.details_algunaDuda {
    border-top: 1px solid #000;
}
.details_algunaDuda:last-child {
    border-bottom: 1px solid #000;
}

.summary_algunaduda {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}
.summaryParrafos {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px 0;
}
.summaryParrafos p {
    text-align: start;
    font-family: "Inter Tight", sans-serif;
    font-weight: 500;
    color: var(--colorTexto2);
    font-size: 12px;
}

.summary_algunaduda h4 {
    font-family: Fraunces, sans-serif;
    font-size: 20px;
}
.icon-plus {
    width: 20px;
}

/* FOOTER STYLES - ESTILOS DEL FOOTER */
.footer {
    background-color: var(--colorPrimario);
}
.footer__section {
    padding-top: 100px;
    padding-bottom: 50px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.marca__section {
    margin-bottom: 30px;
}
.marca__section .logoKnoweatsSvg {
    width: 201px;
    height: 68px;
}
.footerMarcaIconoContainer {
    display: flex;
    gap: 20px;
}
.footerMarcaIconoContainer svg {
    width: 40px;
    height: auto;
    fill: white;
}
.marca__section, .empresaFooterSection {
    flex: 1;
    min-width: 220px;
}
.empresaFooterSection {
}
.empresSectionInformacion {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}
.empresaFooterSection h4 {
    color: white;
    font-family: "Inter Tight", sans-serif;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 30px;
}
.empresaFooterSection ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.empresaFooterSection ul li a {
    color: rgb(239, 238, 238);
    font-family: "Inter Tight", sans-serif;
    font-weight: 300;
    font-size: 18px;
}


@media (min-width: 900px) {
    /* .container {
        max-width: 1500px;
        margin: 0 auto;
    
        padding: 0 58px;
    } */

    .anuncioSuperior {
        font-size: 14px;
    }

    .nav__ul {
        /* position: absolute;
        top: 69px;
        height: calc(100dvh - 110px);
        left: 0;
        width: 100vw;
    
        transform: translateX(-100%);
        transition: transform .2s;
    
        display: flex;
        flex-direction: column;
        justify-content: space-between; */
        position: static;
        width: auto;
        height: auto;
        flex-direction: row;
        transform: translateX(0);
        align-items: center;
        gap: 25px;
        order: 2;
    }

    .nav__link {
        font-size: 16px;
        position: relative;
        line-height: 25px;
        padding: 0;
    }

    .nav__link::after {
        content: "";
        position: absolute;
        height: 1.9px;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: white;
        transform: scaleX(0);
        transform-origin: right;
        transition: transform 0.3s ease-in-out;
    }

    .nav__link:hover::after {
        transform: scaleX(1);
        transform-origin: left;
    }

    .nav__link svg {
        display: none;
    }

    .nav__li:nth-child(1) .nav__link {
        background-color: transparent;
    }

    .nav__li:nth-child(2) .nav__link {
        background-color: transparent;
    }

    .nav__li:nth-child(3) .nav__link {
        background-color: transparent;
    }

    .nav__li:nth-child(4) .nav__link {
        background-color: transparent;
        color: var(--colorBlanco);
    }

    .containerButtonsLogin {
        display: none;
    }

    .iconoMenuHamburguesa {
        display: none;
    }

    .logo {
        order: 1;
    }

    .contenedorCarritoLogin {
        display: flex;
        gap: 15px;
        align-items: center;
    }

    .contenedorCarritoLogin svg {
        cursor: pointer;
    }

    .iconoLogin {
        display: block;
    }

    /* SECCION PRINCIPAL ESTILOS */

    .seccionPrincipal {
        flex-direction: row;
        gap: 40px;
        padding-top: 40px;
        padding-bottom: 40px;
    }
    .seccionPrincipal__texto {
        order: initial;
        align-items: start;
        gap: 20px;
        flex-basis: 50%;
    }

    .seccionPrincipal__texto p {
        font-size: 20px;
    }

    .seccionPrincipal__titulo {
        text-align: initial;
        font-size: 52px;
    }
    .seccionPrincipal__contenedorRecomendaciones {
        gap: 18px;
    }
    .seccionPrincipal__imagenContainer {
        flex-basis: 50%;
    }
    .img__seccionPrincipal {
        order: initial;
    }

    .btn__hazTuPedido {
        align-self: start;
    }

    /* SECCION RECOMENDACIONES ESTILOS */

    .seccionRecomendaciones {
        gap: 40px;
    }

    /* SECCION TIENES QUE PROBAR */

    .slider__item {
        min-width: fit-content;
        background-color: #ecf1ee;
        border-radius: 25px;
    }

    .comidaImgContainer span {
        font-size: 14px;
    }
    .slider__item img {
        min-width: 330px;
        max-height: 275px;
        border-radius: 25px 25px 0 0;
        aspect-ratio: 1/1;
        object-fit: cover;
    }

    .informacionDeLaComida {
        gap: 0;
    }
    .informacionDeLaComida h3 {
        font-size: 18px;
        margin-bottom: 30px;
    }

    .precioPesoComida h4 {
        font-size: 18px;
    }
    .precioPesoComida span {
        font-size: 13px;
    }
    .informacionCalorica {
        gap: 12px;
        padding: 6px 0;
        width: 95%;
        margin-inline: auto;
        margin-top: 10px;
    }

    .nutrientes span {
        font-size: 13px;
    }
    .nutrientes p {
        font-size: 10px;
    }

    /* SECCION HACEMOS TU VIDA MAS FACIL */
    .hacemos_tu_vida_facil article {
        padding: 20px 100px;
        
    }

    /* SECCION PIDE MAS PAGA MENOS */

    .pideMasPagaMenos {
        flex-direction: row;
        justify-content: space-between;
    }
    .pideMasPagaMenos article {
        order: initial;
        min-width: 40%;
    }
    .pideMasPagaMenos article span{
        text-align: start;
    }
    .contenedor-img-pidemasPagamenos {
        width: 40%;
    }

    .pideMasPagaMenos img {
        order: 1;
        aspect-ratio: 7/8;
    }
    .pideMasPagaMenos article {
        order: initial;
    }
    .pideMasPagaMenos article h2{
        text-align: start;
    }
    .pideMasPagaMenos article .parrafoDescuentos{
        font-size: 17px;
        text-align: start;
    }
    .pideMasPagaMenos article video{
        max-width: 500px;
    }
    .descuentosInformacion{
       margin-left: 0;
       display: flex;
       flex-direction: column;
       gap: 10px;
       margin-bottom: 50px;
    }
    .descuentosInformacion p{
        font-size: 17px;
    }
    .descuentosInformacion p::before {
        width: 24px;
        height: 24px;
    }

    /* SUMMARY ESTILOS SECCION ACORDEON */
    .summary_algunaduda:hover {
        background-color: var(--colorPrimario4);
    }

}
